* {
  margin: 0;
  padding: 0;
}

body {
  color: #999;

  font-family: "PT Sans",Calibri,Helvetica,Arial,sans-serif;
	/* font-weight: 400;
	font-size: 20px; */
}

.button-block {
  margin: 150px auto;
  width: 300px;
  text-align: center;
}

.button {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.btn {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: normal;

  text-align: center;
  white-space: nowrap;

  cursor: pointer;

  user-select: none;

  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.3rem;

  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;

}

.btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
}

.arrow::before {
  content: "";
  position: absolute; 
}

.arrow::after {
  content: "";
  position: absolute; 
}

.right::after {
  left: 6.5px;

  border-top: 10px solid transparent;
  border-right: 15px solid #fff;
  border-bottom: 10px solid transparent;
}

.right::before {
  left: 5px;

  border-top: 10px solid transparent;
  border-right: 15px solid rgba(0,0,0,.2);
  border-bottom: 10px solid transparent;
}

.left::after {
  left: 5px;

  border-top: 10px solid transparent;
  border-left: 15px solid #fff;
  border-bottom: 10px solid transparent;
}

.left::before {
  left: 6.5px;

  border-top: 10px solid transparent;
  border-left: 15px solid rgba(0,0,0,.2);
  border-bottom: 10px solid transparent;
}

.top::after {
  left: 0;
  top: 0;

  border-left: 10px solid transparent;
  border-top: 15px solid #fff;
  border-right: 10px solid transparent;
}

.top::before {
  left: 0px;
  top: 1px;

  border-left: 10px solid transparent;
  border-top: 15px solid rgba(0,0,0,.2);
  border-right: 10px solid transparent;
}

.bottom::after {
  left: 2;
  top: 1px;

  border-left: 10px solid transparent;
  border-bottom: 15px solid #f7f7f7;
  border-right: 10px solid transparent;
}

.bottom::before {
  left: 0px;
  top: 0;

  border-left: 10px solid transparent;
  border-bottom: 15px solid rgba(0,0,0,.2);
  border-right: 10px solid transparent;
}


.popover {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;

  font-size: .875rem;
  display: block;
  text-align: left;
  width: 270px;
  line-height: 1.5;
}

.popover-header {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px); 
  color: #212529;
}

.popover-body {
  padding: .5rem .75rem;
  color: #212529;
  background-color: #fff;
  border-radius: .3rem;
}

.visible {
  visibility: visible;
}

